<header class="main-header">
	<p>Login with <a href="#facebook" class="facebook-icon2"><%= image_tag "fb_dark.png" %></a><a href="#twitter" class="twitter-icon"><%= image_tag "twitter_dark.png" %></a></p>
</header>

<section class="welcome">
	<div class="home-icon">
		<%= image_tag "big_undies.png" %>
	</div>
	<div class="home-info">
		<h1>Time to Buy Undies</h1>
		<ol class="welcome-steps">
			<li><%= image_tag "circle_undies.png" %></li>
			<li>+</li>
			<li><%= image_tag "circle_finger_string.png" %></li>
			<li>=</li>
			<li><%= image_tag "circle_ttbu_calendar.png" %></li>
		</ol>
	</div>
</section>

<section class="what-it-is-container">
<p class="what-it-is-banner">Sign up today to get a free reminder on your "undervarsy."</p>
</section>

<section class="stats-container">
	<%= image_tag "six_people.png" %>
	<p class="stats-banner">1 in 6 people wear undies with holes on a regular basis.</p>
</section>

<footer class="fix-it-container">
	<p class="fix-it-p">We believe we can change that.</p>
	<div class="fix-it-words">
		<h2>Time to Buy Undies</h2>
		<p>Get started by logging in</p> <a href="#facebook" class="facebook-icon2"><%= image_tag "fb_dark.png" %></a> <a href="#twitter" class="twitter-icon"><%= image_tag "twitter_dark.png" %></a></p>
	</div>
	<div class="fix-it-logo">
		<%= image_tag "big_undies.png" %>
	</div>
</footer>

